<!-- Archivo donde estan los bloques del perfil de usuario de restaurantes -->
{% extends "administrador/base.html" %}
{% block contenido %}
{% load widget_tweaks %}
{% load main_extras %}

<!--Estilos-->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}files/css/admin/restaurante.css">
<div class="datos_basicos row">
    <div class="row">
        <div class="logo-rest col-lg-2">
            <img class="img-responsive" src="{%if 'uploads/' in restaurante.logo.url %}{{MEDIA_URL}}{{restaurante.logo}}{%else%}{{STATIC_URL}}{{restaurante.logo}}{%endif%}" alt="">
        </div>
        <div class="info col-lg-8">
            <p class="nombre">
                Nombre del Restaurante: <strong>{{restaurante.nombre}}</strong>
            </p>
            <p class="visitas">
            Visitas: <strong>0</strong>
            </p>
            <p class="votos">
                Votos: <strong>{{votos.count}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;Puntuacion: <strong>{{puntuacion|floatformat}}</strong>
            </p>
            <p class="plan">
                Plan asociado: <strong>{{restaurante.plan.nombre}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">&iquest;Qu&eacute; son los planes?</a>
            </p>
            <p class="estatus">
                Estatus del plan: 
                <strong>
                    {%if vencidos%}
                        Su plan se encuentra vencido, por lo tanto debe hacer el pago del mismo.
                    {%else%}
                        Activo.
                    {%endif%}
                </strong>
            </p>
            <p class="estatus_pago">
                Estatus pago: 
                <strong>
                    {%if vencidos%}
                        Ud. presenta un pago vencido con fecha: {{vencidos.0.0}}&nbsp;
                        <a href="" class="btn btn-success">Pagar</a>
                    {%else%}
                        Activo.
                    {%endif%}
                </strong>
            </p>
        </div>
        <div class="plan col-lg-2">
            <img class="img-responsive" src="{{STATIC_URL}}files/img/{{restaurante.plan.nombre|lower}}.png" alt="">
        </div>
    </div>
</div>
<br>
<div class="panel-group" id="accordion">
    <div class="info_principal panel row">
        <div class="titulo panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_principal">
                    <p>
                        <strong>-obligatoria-</strong>
                        Informaci&oacute;n Principal
                        <span class="glyphicon glyphicon-minus"></span>
                    </p>
                </a>
            </h4>
        </div>
        <!-- Cuerpo de la informacion principal -->
        <div id="collapse_principal" class="panel-collapse collapse {%if formulario_activo == 'basico' or formulario_activo == '0'%}in{%endif%}">
            <div class="panel-body">
                <form role="form" action="/administrador/editar/{{restaurante.id}}/basico" method="POST">
                    <div class="form-group">
                        {%csrf_token%}
                        {%if formulario_activo == 'basico' and not PrincipalForm.nombre.errors and not DireccionForm.ciudad.errors and not DireccionForm.zona.errors and not DireccionForm.calle.error and not DireccionForm.latitud.errors and not HorariosForm.errors %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <strong>Guardado!</strong> Se ha guardado la informaci&oacute;n con &eacute;xito!
                            </div>
                        {%endif%}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                Nombre del restaurante:
                                <p class="text-danger">{{PrincipalForm.nombre.errors|striptags}}</p>
                                {% render_field PrincipalForm.nombre class="form-control"%}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                Categor&iacute;as (m&aacute;ximo 3):
                                <p class="text-danger">{{PrincipalForm.categoria.errors|striptags}}</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                        {%for pk, choice in PrincipalForm.categoria.field.widget.choices%}
                                            <td>
                                                <input class="input"
                                                        {% for categoria in categorias %}
                                                            {% if categoria == pk|safe %}
                                                                checked="checked"
                                                            {% endif %}
                                                        {% endfor %} type="checkbox" id="id_categoria_{{ forloop.counter0 }}" value="{{pk}}" name="categoria" class="options" />
                                                <label>
                                                    {{ choice }}
                                                </label>
                                            </td>
                                            {% if not forloop.last and forloop.counter == 9 or forloop.counter == 18 %}
                                                </tr>
                                                <tr>
                                            {% endif %}
                                        {%endfor%}
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                            {%if HorariosForm.errors%}
                             <p class="text-danger">
                                Estos campos son obligatorios.
                             </p>
                             {%endif%}
                                <div class="table-responsive">
                                    <table class="table">
                                            <tr>
                                            <td>
                                                Horario 
                                            </td>
                                            <td>
                                                Lunes
                                            </td>
                                            <td>
                                                Martes
                                            </td>
                                            <td>
                                                Mi&eacute;rcoles
                                            </td>
                                            <td>
                                                Jueves
                                            </td>
                                            <td>
                                                Viernes
                                            </td>
                                            <td>
                                                S&aacute;bado
                                            </td>
                                            <td>
                                                Domingo
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Desde:
                                            </td>
                                            <td>
                                                {{ HorariosForm.lunes_desde|add_class:"form-control"}}
                                            </td>
                                            <td>
                                                {{ HorariosForm.martes_desde|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.miercoles_desde|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.jueves_desde|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.viernes_desde|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.sabado_desde|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.domingo_desde|add_class:"form-control" }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Hasta:
                                            </td>
                                            <td>
                                                {{ HorariosForm.lunes_hasta|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.martes_hasta|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.miercoles_hasta|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.jueves_hasta|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.viernes_hasta|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.sabado_hasta|add_class:"form-control" }}
                                            </td>
                                            <td>
                                                {{ HorariosForm.domingo_hasta|add_class:"form-control" }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                Ciudad:
                                {{ DireccionForm.ciudad }}
                                <p class="text-danger">{{ DireccionForm.ciudad.errors|striptags }}</p>
                                Zona:
                                {{ DireccionForm.zona }}
                                <p class="text-danger">{{ DireccionForm.zona.errors|striptags }}</p>
                                Calle o avenida:
                                {{ DireccionForm.calle }}
                                <p class="text-danger">{{ DireccionForm.calle.errors|striptags }}</p>
                            </div>
                            <div class="col-lg-8">
                                <!-- Mapa de google maps -->
                                Coordenadas:
                                <p class="text-danger">{{ DireccionForm.latitud.errors|striptags }}</p>
                                <input id="pac-input" class="controls" type="text" placeholder="Introduzca una direccion">
                                <div class="mapa" id="map">
                                </div>
                                {{ DireccionForm.latitud.as_hidden }}
                                {{ DireccionForm.longitud.as_hidden }}
                                (Clickee en el mapa la ubicaci&oacute;n de su local)
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4">
                                <table>
                                    Tel&eacute;fonos del restaurante:
                                    {{TelefonoRestauranteForm.management_form}}
                                    {%for form in TelefonoRestauranteForm%}
                                        {%render_field form.numero.errors%}
                                        {%render_field form.id%}
                                        {%render_field form.numero placeholder="(212)-1234567"%}
                                        {%render_field form.display.help_text%}
                                        {%render_field form.display%}
                                    {%endfor%}
                                  <tr>
                                  </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="lg-col-4">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Otra informacion -->
    <div class="otra_info panel row">
        <div class="titulo panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_otra">
                    <p>
                        <strong>-opcional-</strong>
                        Otra Informaci&oacute;n
                        <span class="glyphicon glyphicon-minus"></span>
                    </p>
                </a>
            </h4>
        </div>
        <div id="collapse_otra" class="panel-collapse collapse {%if formulario_activo == 'otra'%}in{%endif%}">
            <div class="panel-body">
                <form role="form" action="/administrador/editar/{{restaurante.id}}/otra" method="POST">
                    <div class="form-group">
                        {%csrf_token%}
                        {%if formulario_activo == 'otra' and not DescripcionForm.descripcion.errors and not DescripcionForm.servicios.errors and not DescripcionForm.metodos_de_pago.errors %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <strong>Guardado!</strong> Se ha guardado la informaci&oacute;n con &eacute;xito!
                            </div>
                        {%endif%}
                        Descripci&oacute;n del restaurante (m&aacute;ximo 400 caracteres):
                        {{ DescripcionForm.descripcion_rest }}
                        <p class="text-danger">
                            {{DescripcionForm.descripcion.errors|striptags}}
                        </p>
                        <br>
                        Servicios del restaurante:
                        <br>
                        {%for pk, choice in DescripcionForm.servicios.field.widget.choices%}
                            <label align="center">
                                {{ choice }}
                                <br>
                                <img src="{{MEDIA_URL}}uploads/img/servicios/{{choice|lower}}.png" width="46px" height="46px">
                                <br>
                                <input 
                                    {% for servicio in servicios %}
                                        {% if servicio == pk|safe %}
                                            checked="checked"
                                        {% endif %}
                                    {% endfor %} type="checkbox" id="id_servicios_{{ forloop.counter0 }}" value="{{ pk }}" name="servicios" />
                            
                            </label>
                        {%endfor%}
                        <p class="text-danger">{{DescripcionForm.servicios.errors|striptags}}</p>
                        <br>
                        M&eacute;todos de pago:
                        <br>
                        {%for pk, choice in DescripcionForm.metodos_de_pago.field.widget.choices%}
                            <label align="center">
                                {{ choice }}
                                <br>
                                <img src="{{STATIC_URL}}files/img/{{choice|lower}}.png" width="45px" height="26px">
                                <br>
                                <input 
                                {% for metodo in metodos %}
                                    {% if metodo == pk|safe %}
                                        checked="checked"
                                    {% endif %}
                                {% endfor %} type="checkbox" id="id_metodos_de_pago_{{ forloop.counter0 }}" name="metodos_de_pago" value="{{ pk }}" />
                            </label>
                        {%endfor%}
                        <p class="text-danger">{{DescripcionForm.metodos.errors|striptags}}</p>
                        <br>
                        Redes Sociales:
                        <br>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                Facebook: {{ RedesForm.facebook }}
                                <p class="text-danger">{{RedesForm.facebook.errors|striptags}}</p>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                Twitter: {{ RedesForm.twitter }}
                                <p class="text-danger">{{RedesForm.twitter.errors|striptags}}</p>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                Instagram: {{ RedesForm.instagram }}
                                <p class="text-danger">{{RedesForm.instagram.errors|striptags}}</p>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Imagenes del restaurante -->
    <div class="imagenes panel row">
        <div class="titulo panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_imgs">
                    <p>
                        <strong>-opcional-</strong>
                        Im&aacute;genes
                        <span class="glyphicon glyphicon-minus"></span>
                    </p>
                    <p></p>
                    <p></p>
                </a>
            </h4>
        </div>
        <div id="collapse_imgs" class="panel-collapse collapse {%if formulario_activo == 'imagenes'%}in{%endif%}">
            <div class="panel-body">
                <form role="form" action="/administrador/editar/{{restaurante.id}}/imagenes" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        {%csrf_token%}
                        Logos:
                        <div class="row">
                            <div class="col-lg-2 logo-actual">
                                <img class="img-responsive" src="{%if 'uploads/' in restaurante.logo.url %}{{MEDIA_URL}}{{restaurante.logo}}{%else%}{{STATIC_URL}}{{restaurante.logo}}{%endif%}" alt="">
                            </div>
                            <div class="col-lg-10">
                                Logo del restaurante:
                                {{ logoRestForm.logo }}
                                <p class="text-danger">{{LogoRestForm.logo.errors|striptags}}</p>
                                <p align="left">
                                    De no poseer logo, puede seleccionar uno de nuestra colecci&oacute;n. 
                                    <a class="col-lg-offset-1" href="/contactos/">Quiero un logo para mi restaurante!</a>
                                </p>
                                <div class="row">
                                    {%for pk, choice in LogosForm.logos.field.widget.choices%}
                                    <div class="col-lg-1">
                                        <label align="center">
                                        <img src="{{STATIC_URL}}files/img/{{pk}}.jpg" width="79px" height="79px">
                                        {{ choice }}
                                        <br>
                                            <input 
                                                {% if restaurante.logo == pk|safe %}
                                                    checked="checked"
                                                {% endif %} id="id_logos_{{ forloop.counter0 }}" type="radio" name="logos" value="{{ pk }}" />
                                        </label>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <br>
                        Im&aacute;genes restaurante:
                        <div class="row">
                            {{ImagenForm.management_form}}
                            {%for form in ImagenForm%}
                                <div class="col-lg-8">
                                    {{form}}
                                    <p class="text-danger">{{form.errors|striptags}}</p>
                                </div>
                                <div class="col-lg-4">
                                    {%if form.thumbnail.value != None%}
                                        Miniatura:
                                        <img width="200px" height="200px" src="{{MEDIA_URL}}{{form.thumbnail.value}}" alt="" class="img-responsive">
                                    {%endif%}
                                </div>
                                <br>
                            {%endfor%}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="menus panel row">
        <div class="titulo panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_menu">
                    <p>
                        <strong>-opcional-</strong>
                        Men&uacute;
                        <span class="glyphicon glyphicon-minus"></span>
                    </p>
                </a>
            </h4>
        </div>
        <div id="collapse_menu" class="panel-collapse collapse {%if formulario_activo == 'menu'%}in{%endif%}">
            <div class="panel-body">
                <form role="form" action="/administrador/editar/{{restaurante.id}}/menu" method="POST" enctype="multipart/form-data">
                    <!-- Panel de platos agregados -->
                    <div class="panel-group platos-agregados" id="accordionPlatos" role="tablist" aria-multiselectable="true">
                        <div class="panel-body">
                            <div class="container-fluid">
                                {%csrf_token%}
                                {{platosForm.management_form}}
                                {%for  form, plato in forms_platos%}
                                    {%if plato != ''%}
                                        <!-- Creacion del panel -->
                                        {%ifchanged form.tipo.value%}
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading_{{form.tipo.value}}">
                                                <a data-toggle="collapse" data-parent="#accordionPlatos" href="#collapse_{{form.tipo.value}}">
                                                    <p class="text-center">
                                                        {{plato}}
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div id="collapse_{{form.tipo.value}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{form.tipo.value}}">
                                                <div class="panel-body">
                                        {%endifchanged%}
                                    {%endif%}
                                        <!-- Formulario de cada plato -->
                                        <div class="plato">
                                            {{form.id}}
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    Tipo de plato:
                                                    {{form.tipo}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    T&iacute;tulo:
                                                    {{form.nombre}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    Descripci&oacute;n:
                                                    {{form.descripcion}}
                                                </div>
                                                <div class="col-lg-2">
                                                    Precio:
                                                    {{form.precio}}
                                                </div>
                                                {%if form.imagen%}
                                                    <div class="col-lg-6">
                                                        {{form.imagen}}
                                                    </div>
                                                {%endif%}
                                            </div>
                                        </div>
                                        <br>
                                        <!-- Fin plato -->
                                    {%with forms_platos|next:forloop.counter0 as next%}
                                        {%if plato != '' and plato != next.1%}
                                            {%ifchanged form.tipo.value%}
                                                    </div>
                                                </div>
                                            </div>
                                            {%endifchanged%}
                                        {%endif%}
                                    {%endwith%}
                                {%endfor%}
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 agregar-mas">
                                        <a id="mas">
                                            Insertar otro <span class="glyphicon glyphicon-plus mas text-right"></span>
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

<!-- Bloque de Javascript -->
{% block js %}
<!-- Mapa de google maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="{{STATIC_URL}}files/js/jquery.formset.js"></script>
<script src="{{STATIC_URL}}files/js/jquery-ui.min.js"></script>
<script>
var map;
function initialize() {
    var markers = [];
    var lat = $('#id_latitud');
    var lng = $('#id_longitud');

    var mapOptions = {
        zoom: 13,
        center: new google.maps.LatLng({{lat|safe}},{{lng|safe}})
    };
    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    //Nuevo marcador indicando el lugar del restaurante
    var marcador = new google.maps.LatLng({{lat|safe}}, {{lng|safe}});
    placeMarker(marcador);

    /*Funciones para agregar el marcador y eliminar el anterior*/
    google.maps.event.addListener(map, 'click', function(event){
        clearMarkers();
        markers = [];
        placeMarker(event.latLng);
        lat.val(event.latLng.A);
        lng.val(event.latLng.F);
    });

    function clearMarkers() {
        setAllMap(null);
    }

    function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
        }
    }
    
    function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        markers.push(marker);
    }

    /*Codigo de autocompletacion*/
    var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));

    var types = document.getElementById('type-selector');
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
    });

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
        }
        marker.setIcon(/** @type {google.maps.Icon} */({
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(35, 35)
        }));
        marker.setPosition(place.geometry.location);
        marker.setVisible(false);

        var address = '';
        if (place.address_components) {
        address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
        ].join(' ');
        }

        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        infowindow.open(map, marker);
    });

    // Sets a listener on a radio button to change the filter type on Places
    // Autocomplete.
    function setupClickListener(id, types) {
        var radioButton = document.getElementById(id);
        google.maps.event.addDomListener(radioButton, 'click', function() {
            autocomplete.setTypes(types);
        });
    }

}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- Codigo de iCheck -->
<script>
$(document).ready(function(){
  $('.input').each(function(){
    var self = $(this),
      label = self.next(),
      label_text = label.text();

    label.remove();
    self.iCheck({
      checkboxClass: 'icheckbox_line-green',
      insert: '<div class="icheck_line-icon"></div>' + label_text
    });
  });
});
</script>

<!-- Codigo de agregar formularios -->
<script>
$('#mas').click(function() {
    cloneMore('div.plato:last', 'plato_set');
});

function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement).slideDown( "slow" );
}
</script>
{% endblock js %}