<!-- Archivo donde estan los bloques del home -->
{% extends "main/base.html" %}

<!-- Header del home-->
{% block header %}

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}files/css/home.css">
    
    <!--Scripts-->
    <script src="{{STATIC_URL}}files/js/jquery.raty.js"></script>
    <script src="{{STATIC_URL}}files/js/raty_labs.js" type="text/javascript"></script>

    <div class="container hidden-xs hidden-sm">
        <!-- Slide -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{STATIC_URL}}files/img/slider1.jpg" />
                    <div class="carousel-caption">  
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon">
                    <img src="{{STATIC_URL}}files/img/der.png" alt="">
                </span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon">
                    <img src="{{STATIC_URL}}files/img/izq.png" alt="">
                </span>
            </a>
        </div>
    </div>
{% endblock header %}

<!-- Contenido del home -->
{% block contenido %}
    {% load cycle from future %}

    <!--Espacio para restaurantes destacados que tienen el plan Azul -->
    <div class="destacados row">
        <div class="titulo col-lg-12" id="titulo_destacados" onmouseover="javascript:document.getElementById('titulo_destacados').style.cursor='pointer'" data-toggle="collapse" data-target="#clickeable_destacados">
            <img class="img-responsive" src="{{STATIC_URL}}files/img/ico_amarillo.png" alt="">
            <p>Destacados</p>
        </div>
        <div id="clickeable_destacados" class="collapse in col-lg-12 col-md-12 col-sm-12">
            {% for restaurante in restaurantes_destacados%}
            <div class="restaurante col-lg-2 col-md-3 col-sm-4 col-xs-12" >
                <a href="/restaurante/{{restaurante.nombre|slugify}}/">
                    <img class="img-responsive" src="{%if 'uploads/' in restaurante.logo.url %}{{MEDIA_URL}}{{restaurante.logo}}{%else%}{{STATIC_URL}}{{restaurante.logo}}{%endif%}" alt="" class="{% filter force_escape %}{% cycle 'imagen_a' 'imagen_r' %}{% endfilter %}">
                    <p id="titulo">{{restaurante.nombre}}</p>
                </a>
                <div id="{{restaurante.nombre|cut:" "}}estrellasdes" class="estrellas">
                    <div id="punt" value="{{puntos}}"></div>
                        <script type="text/javascript">
                        /*var myVar = {{restaurante.1|safe}};
                                $('#{{restaurante.nombre|cut:" "}}estrellasdes').raty({readOnly:true, score:myVar});
                        */
                        </script>
                </div>
                <a href="/restaurantes/{{restaurante.categoria.all.0.nombre}}">
                    <p id="categoria">{{restaurante.categoria.all.0.nombre}} </p>
                </a>
            </div>
            {% endfor %}
            <!-- Espacio superior de banner publicitario -->
            <div class="publicidad_sup col-lg-12 col-md-12 col-sm-12">
                
            </div>
        </div>
    </div>

    <!-- Espacio para restaurantes que fueron agregados recientemente -->
    <div class="agregados_reciente row">
        <div class="titulo col-lg-12 col-md-12 col-sm-12" id="titulo_reciente" onmouseover="javascript:document.getElementById('titulo_reciente').style.cursor='pointer'" data-toggle="collapse" data-target="#clickeable_reciente">
            <img class="img-responsive" src="{{STATIC_URL}}files/img/ico_azul.png" alt="">
            <p>Agregados Recientemente</p>
        </div>
        <div id="clickeable_reciente" class="collapse in col-lg-12 col-md-12 col-sm-12">
            {% for restaurante in restaurantes_rec%}
                <div class="restaurante col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <a href="/restaurante/{{restaurante.0.nombre|slugify}}/">
                        <img class="img-responsive" src="{%if 'uploads/' in restaurante.0.logo.url %}{{MEDIA_URL}}{{restaurante.0.logo}}{%else%}{{STATIC_URL}}{{restaurante.0.logo}}{%endif%}" alt="" class="{% filter force_escape %}{% cycle 'imagen_a' 'imagen_r' %}{% endfilter %}">
                        <p id="titulo">{{restaurante.0.nombre}}</p>
                    </a>
                    <div id="{{restaurante.0.nombre|cut:" "}}estrellas" class="estrellas">
                        <div id="punt" value="{{puntos}}" data-restid="{{restaurante.0.id}}"></div>
                            <script type="text/javascript">
                                var myVar = {{restaurante.1|safe}};
                                $('#{{restaurante.0.nombre|cut:" "}}estrellas').raty({readOnly: true, score:myVar});
                            </script>
                    </div>
                    <a href="/restaurantes/{{restaurante.0.categoria.all.0.nombre}}">
                        <p id="categoria">{{restaurante.0.categoria.all.0.nombre}}</p>
                    </a>
                </div>
            {% endfor %}

            <!-- Espacio inferior de banner publicitario -->
            <div class="publicidad_med col-lg-12 col-md-12 col-sm-12">
                <img class="img-responsive" src="" alt="">
            </div>
        </div>
    </div>

    <!-- Espacio para las categorias -->
    <div class="categorias row">
        <div class="titulo col-lg-12 col-md-12 col-sm-12" id="titulo_categorias" onmouseover="javascript:document.getElementById('titulo_categorias').style.cursor='pointer'" data-toggle="collapse" data-target="#clickeable_categorias" >
            <img class="img-responsive" src="{{STATIC_URL}}files/img/ico_rojo.png" alt="">
            <p>Categorías</p>
        </div>
        <div id="clickeable_categorias" class="collapse in col-lg-12 col-md-12 col-sm-12">
            {% for categoria in categorias%}
                <div class="categoria col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <a href="/restaurantes/{{categoria.nombre|lower}}">
                        <img class="img-responsive" src="{{MEDIA_URL}}{{categoria.imagen}}" alt="" class="{% filter force_escape %}{% cycle 'imagen_a' 'imagen_r' %}{% endfilter %}">
                        <p id="titulo">{{categoria.nombre}}</p>
                    </a>
                </div>
            {% endfor %}

            <!-- Espacio inferior de banner publicitario -->
            <div class="publicidad_inf col-lg-12 col-md-12 col-sm-12">
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}

{% endblock js %}