
{% extends "main/base.html" %}
<!--Contenido para los restaurantees-->
{% block contenido %}
{% load cycle from future %}
<!-- Estilos de la pagina-->
<link href="{{STATIC_URL}}files/css/restaurante.css" rel="stylesheet" type="text/css" />
<!-- Carousel -->
<script>
jQuery(document).ready(function($) {

	$('#carrusel').carousel({
	        interval: 170000
	});

	$('#carousel-text').html($('#slide-content-0').html());

	//Handles the carousel thumbnails
	$('[id^=carousel-selector-]').click( function(){
	    var id = this.id.substr(this.id.lastIndexOf("-") + 1);
	    var id = parseInt(id);
	    $('#carrusel').carousel(id);
	});


	// When the carousel slides, auto update the text
	$('#carrusel').on('slid.bs.carousel', function (e) {
	         var id = $('.item.active').data('slide-number');
	        $('#carousel-text').html($('#slide-content-'+id).html());
	});
});
</script>
{%if imagenes%}
<!-- Seccion del carrusel -->
<div class="carrousel row">
	<div class="col-lg-12 col-md-12 col-sm-12" id="carousel-bounding-box">
        <div class="carousel slide" id="carrusel">
            <!-- Carousel items -->
            <div class="carousel-inner">
            	{%for imagen in imagenes%}
	            	{%if forloop.first%}
		                <div class="active item" data-slide-number="{{forloop.counter0}}">
		                	<img class="img-responsive" src="{{imagen.archivo.url}}">
		                </div>
	                {%else%}
		                <div class="item" data-slide-number="{{forloop.counter0}}">
		                	<img class="img-responsive" src="{{imagen.archivo.url}}">
		                </div>
	                {%endif%}
                {%endfor%}
            </div><!-- Carousel nav -->
            <a class="left carousel-control" href="#carrusel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>                                       
            </a>
            <a class="right carousel-control" href="#carrusel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>                                       
            </a>                                
        </div>
    </div>
</div>
{%endif%}

<!-- Seccion de logo e imagenes -->
<div class="row imagenes">
	<div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-4">
		<!--Barra del logo-->
		<img class="img-responsive logo-rest" src="{%if 'uploads/' in restaurante.logo.url %}{{MEDIA_URL}}{{restaurante.logo}}{%else%}{{STATIC_URL}}{{restaurante.logo}}{%endif%}" alt="{{restaurante.nombre|lower}}" />
	</div>
	
	<div class="info_rest col-lg-10 col-md-10 col-sm-10 col-xs-11 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">

		<!--Titulo del restaurante. Titulo y categoria-->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">	
				<p id="nombre">
					<strong id="titulo">
						{{restaurante.nombre}}
					</strong>
					- 
					{% for categoria in restaurante.categoria.all|slice:":3"%}
						<a href="/restaurantes/{{categoria.nombre|lower}}">{{categoria.nombre}}</a>
					{%endfor%}
				</p>
			</div>
			
			<div class="imagenes col-lg-12 col-md-12 col-sm-12 hidden-xs">
				<!--Thumbnails Imagenes-->
                {% for imagen in imagenes %}
                	<div class="col-lg-2 col-md-2 col-sm-2 {% cycle 'imagen_b' 'imagen_g' %}">
	                    <a class="" id="carousel-selector-{{forloop.counter0}}">
							<img class="img-responsive" src="{{imagen.thumbnail.url}}" alt="" align="middle">
						</a>
                	</div>
				{% endfor %}
			</div>
			<!--Puntuacion-->
			<div class="col-lg-3 col-md-3 col-sm-3 puntuacion">
				<p id="titulo-puntuacion">Puntuación:
					<!--Estrellas-->
					<div class="estrellas" id="estrellas">
						<div id="punt" value="{{ puntos }}">
                			<input type="hidden" value='false' id="centinela">
						</div>
					</div>
				</p>
			</div>
			<div class="col-lg-2">
				<p class="text-left">
					{{puntos|floatformat}}
					&nbsp;{{votos}} votos
				</p>
			</div>
			<!--Redes sociales-->
			{%if redes%}
				<div class="col-lg-2 col-md-2 col-sm-2">
					<a href="{{redes.facebook}}">
						<img src="{{STATIC_URL}}files/img/facebook_logo.jpg" alt="Facebook">
					</a>
					&nbsp;
					<a href="{{redes.twitter}}">
						<img src="{{STATIC_URL}}files/img/twitter_logo.jpg" alt="Twitter">
					</a>
					&nbsp;
					
					<a href="{{redes.instagram}}">
						<img src="{{STATIC_URL}}files/img/instagram_logo.jpg" alt="Instagram">
					</a>
				</div>
			{%endif%}
		</div>
	</div>
</div>
<br>
<br>
<br>
<!--Caracteristicas-->
<div class="caract-pagos row">
	<div class="col-lg-8 col-md-8 col-sm-8 caracteristicas">
		{%for servicio in servicios%}
			{%if servicio in servicios_rest%}
				<img class="car" id="{{servicio.nombre}}" src="{{servicio.imagen.url}}" alt="{{servicio.nombre}}" title="{{servicio.nombre}}">
			{%else%}
				<img class="car" id="{{servicio.nombre}}" src="{{servicio.imagen_gris.url}}" alt="{{servicio.nombre}}" title="{{servicio.nombre}}">
			{%endif%}
		{%endfor%}
	</div>

	<!--Pagos-->
	<div class="col-lg-4 col-md-4 col-sm-4 metodos-pago">
		<p class="pagos">M&eacute;todos de pago: 
		<!-- Imprimir nombres de imagenes segun las tenga el rest-->
		{% for pago in metodos %}
			{% if pago in metodos_rest%}
					<img class="img-responsive pago" src="{{STATIC_URL}}files/img/{{pago.nombre|lower}}.png" alt="" title="{{pago.nombre}}">
			{% endif %}
		{% endfor %}
		</p>
	</div>
</div>

<div class="row datos-generales">
	<!-- Direccion, telefonos, horaios y descripcion -->
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

		<!--Direccion-->
		<div class="row direccion">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-left">
					Dirección:<br/>{{restaurante.direccion.calle}}, {{restaurante.direccion.zona.nombre}}, {{restaurante.direccion.ciudad.nombre}}
				</p>
			</div>
		</div>
		<br>
		<!--Telefonos y horario-->
		<div class="row telfs_hora">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 telefonos">
				<img class=" img-telfs" src="{{STATIC_URL}}files/img/telf.png" alt="">
				{%for telf in telefonos%}
					{%if telefonos.count == 2%}
						<p class="text-left">{{telf.numero}}</p>
					{%else%}
						<p class="text-left middle">{{telf.numero}}</p>
					{%endif%}
				{%endfor%}
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 horario">
				<p id="horario">{%autoescape off%} {{horario}} {%endautoescape%}</p>
				
				<p id="cuadro">
					<img class="img-responsive" src="{{STATIC_URL}}files/img/hora.png" alt="">
					Horario
					{{horaActual}}
					<div class="ab-ce">
						<p class="abierto">
							{%if disponible%}
								Abierto
							{%else%}
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{%endif%}
						</p>
						<p class="cerrado">
							{%if not disponible%}
								Cerrado
							{%else%}
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{%endif%}
						</p> 
					</div>
				</p>
			</div>
		</div>

		<!--Descripcion-->
		<div class="row descripcion">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="text-left">
					Descripción:<br/>{{restaurante.descripcion}}
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4">
		<!-- Mapa de google maps -->
		<div class="mapa" id="map">
	    </div>
    </div>
</div>

<!--Menu-->
<div class="row menu">
	<div class="barra-sup col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p>Menú</p>
	</div>

	<!-- Lineas Superiores -->
	<div class="lineas row">
		<p class="linea-sup col-lg-12 col-md-12 col-sm-12 col-xs-12"></p>
		<p class="linea-inf col-lg-12 col-md-12 col-sm-12 col-xs-12"></p>
	</div>

	<!--Platos del menu -->
	<div class="panel-group platos col-lg-12 col-md-12 col-sm-12 col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">
		{% for tipo in arreglo %}
			<div class="tipo {{tipo.0|slugify}} panel panel-default">
				<div class="panel-heading" role="tab" id="heading{{tipo.0|slugify}}">
					<h4 class="panel-title">
						<a class="{%if tipo.2 != 1%}collapsed{%endif%}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{tipo.0|slugify}}" aria-expanded="true" aria-controls="collapse{{tipo.0|slugify}}">
							<p class="titulo text-left">
							{{tipo.0}}
							<div class="linea">
								<p class="cantidad text-right">
									{{tipo.1}}
								</p>
							</div>
							</p>
						</a>
					</h4>
				</div>
				<div id="collapse{{tipo.0|slugify}}" class="layer_platos panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{tipo.0|slugify}}">
					<div class="panel-body">
					{% for plato in platos %}
						{%if tipo.0 == plato.tipo and plato.disponibilidad == True%}
						<br/>
						<div class="plato">
							<div class="titulo text-left">
								{{plato.nombre}} 
								<div class="precio text-right">
									{{plato.precio}} bsf
									<div class="descripcion text-left">&nbsp;&nbsp;{{plato.descripcion}}</div>
								</div>
							</div>
						</div>
						{%endif%}
					{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
	<!-- Lineas inferiores -->
	<div class="lineas-inf row">
		<p class="linea-inf-inf col-lg-12 col-md-12 col-sm-12 col-xs-12"></p>
		<p class="linea-inf-sup col-lg-12 col-md-12 col-sm-12 col-xs-12"></p>
	</div>
	<div class="barra-inf col-lg-12 col-md-12 col-sm-12 col-xs-12">
	</div>
</div>

<!--Publicidad
<div class="publicidad">
	<div class="pub1">
		<img class="img-responsive" src="{{STATIC_URL}}files/img/p1.png" alt="">
	</div>
	<div class="pub2">
		<img class="img-responsive" src="{{STATIC_URL}}files/img/p2.png" alt="">
	</div>
</div>-->
{% endblock contenido %}

{%block js%}

<!-- Scripts -->
<script src="{{STATIC_URL}}files/js/raty_jquery.js"></script>
<script src="{{STATIC_URL}}files/js/jquery.raty.js"></script>
<script src="{{STATIC_URL}}files/js/raty_labs.js" type="text/javascript"></script>

<!-- Mapa de google maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src="{{STATIC_URL}}files/js/jquery-ui.min.js"></script>
<script>
var map;
function initialize() {
	var markers = [];
    var lat = $('#id_latitud');
    var lng = $('#id_longitud');

    var mapOptions = {
        zoom: 15,
        center: new google.maps.LatLng({{lat|safe}},{{lng|safe}})
    };
    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    //Nuevo marcador indicando el lugar del restaurante
    var marcador = new google.maps.LatLng({{lat|safe}}, {{lng|safe}});
    placeMarker(marcador);

    function clearMarkers() {
        setAllMap(null);
    }

    function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
        }
    }
    
    function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        markers.push(marker);
    }
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">
var puntos = {{puntos|safe}};
	$('#estrellas').raty({
		score:puntos
	});
	$("#estrellas").appendTo("#titulo-puntuacion");

	/*Funcion para las votaciones de los restaurantes*/
    $('#estrellas').click(function(){
        var centinela = $('#centinela').val();
	    if (centinela!='true'){
	        var restid = {{restaurante.id|safe}};
	        var valor = $(this).children("input[type='hidden']").val();

	        $.ajax({
	            data: {'restaurante_id':restid, 'valor':valor},
	            url:'/votacion/', 
	            type: 'get', 
	        });
	        $('#centinela').val('true');
	    };
    });

</script>

{%endblock js%}