<!-- Archivo donde estan los bloques del perfil de usuario de restaurantes -->
{% extends "administrador/base.html" %}
{% block contenido %}
{% load widget_tweaks %}

<!--Estilos-->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}files/css/admin/restaurante.css">
<h2>Agregar Restaurante</h2>
<div class="panel-group" id="accordion">
	<div class="info_principal panel row">
		<div class="titulo panel-heading">
			<h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_principal">
			        <p>
				        <strong>-obligatoria-</strong>
				        Informaci&oacute;n Principal
				        <span class="glyphicon glyphicon-minus"></span>
			        </p>
		        </a>
	      	</h4>
		</div>
		<!-- Cuerpo de la informacion principal -->
		<div id="collapse_principal" class="panel-collapse collapse in">
		    <div class="panel-body">
				<form role="form" action="/administrador/restaurante_info_basica/{{restaurante.id}}" method="POST">
		  			<div class="form-group">
						{%csrf_token%}
						<div class="">
							Nombre del restaurante:
							{{PrincipalForm.nombre.errors|striptags}}
							{% render_field PrincipalForm.nombre class="form-control"%}
						</div>
						<br>
						<br>
						Categor&iacute;as (m&aacute;ximo 3):
						<br>
						<br>
						<div class="table-responsive">
							<table class="table">
   								<tr>
								{%for pk, choice in PrincipalForm.categoria.field.widget.choices%}
									<td>
										<input class="input"
												{% for categoria in categorias %}
													{% if categoria == pk|safe %}
														checked="checked"
													{% endif %}
												{% endfor %} type="checkbox" id="id_categoria_{{ forloop.counter0 }}" value="{{pk}}" name="categoria" class="options" />
										<label>
											{{ choice }}
										</label>
									</td>
									{% if not forloop.last and forloop.counter == 9 or forloop.counter == 18 %}
									    </tr>
									    <tr>
									{% endif %}
								{%endfor%}
								</tr>
							</table>
						</div>
						<br>
						<div class="col-lg-10">
							<div class="table-responsive">
								<table class="table">
										<tr>
										<td>
											Horario	
										</td>
										<td>
											Lunes
										</td>
										<td>
											Martes
										</td>
										<td>
											Mi&eacute;rcoles
										</td>
										<td>
											Jueves
										</td>
										<td>
											Viernes
										</td>
										<td>
											S&aacute;bado
										</td>
										<td>
											Domingo
										</td>
									</tr>
									<tr>
										<td>
											Desde:
										</td>
										<td>
											{{ HorariosForm.lunes_desde|add_class:"form-control"}}
										</td>
										<td>
											{{ HorariosForm.martes_desde|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.miercoles_desde|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.jueves_desde|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.viernes_desde|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.sabado_desde|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.domingo_desde|add_class:"form-control" }}
										</td>
									</tr>
									<tr>
										<td>
											Hasta:
										</td>
										<td>
											{{ HorariosForm.lunes_hasta|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.martes_hasta|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.miercoles_hasta|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.jueves_hasta|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.viernes_hasta|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.sabado_hasta|add_class:"form-control" }}
										</td>
										<td>
											{{ HorariosForm.domingo_hasta|add_class:"form-control" }}
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								Direcci&oacute;n del restaurante:
								{{ DireccionForm.direccion }}
							</div>
							<div class="col-lg-4">
								Ciudad:
								{{ DireccionForm.ciudad }}
								Zona:
								{{ DireccionForm.zona }}
							</div>
							<div class="col-lg-4">
								<!-- Mapa de google maps -->
								Coordenadas:
								{{ DireccionForm.coord }}
								<div class="mapa" id="map">
									<input type="text" id="lat" value='{{lat}}'>
									<input type="text" id="lng" value='{{lng}}'>
						        </div>
						        (Clickee en el mapa la ubicaci&oacute;n de su local)
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-4">
								<table>
									Tel&eacute;fonos del restaurante:
									
									{{TelefonoRestauranteForm.management_form}}
									{%for form in TelefonoRestauranteForm%}
										{%render_field form.id%}
										{%render_field form.numero placeholder="(212)-1234567"%}
										{%render_field form.display.help_text%}
										{%render_field form.display%}
									{%endfor%}
							      <tr>
							      </tr>
							    </table>
						    </div>
					    </div>
						<br>
						<div class="lg-col-4">
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</form>
		    </div>
	    </div>
	</div>
	<div class="otra_info panel row">
		<div class="titulo panel-heading">
			<h4 class="panel-title" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
		        <a data-toggle="collapse" href="#collapse_otra">
			        <p>
				        <strong>-opcional-</strong>
				        Otra Informaci&oacute;n
				        <span class="glyphicon glyphicon-minus"></span>
			        </p>
		        </a>
	      	</h4>
		</div>
	</div>
	<div class="imagenes panel row">
		<div class="titulo panel-heading">
			<h4 class="panel-title" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
		        <a data-toggle="collapse" href="#collapse_imgs">
		        	<p>
				        <strong>-opcional-</strong>
				        Im&aacute;genes
				        <span class="glyphicon glyphicon-minus"></span>
			        </p>
			        <p></p>
			        <p></p>
		        </a>
	      	</h4>
		</div>
	</div>
	<div class="menus panel row">
		<div class="titulo panel-heading">
			<h4 class="panel-title" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
		        <a data-toggle="collapse" href="#collapse_menu">
			    	<p>
				        <strong>-opcional-</strong>
				        Men&uacute;
				        <span class="glyphicon glyphicon-minus"></span>
			        </p>
		        </a>
	      	</h4>
		</div>
	</div>
	<div class="modal fade bs-example-modal-sm" id="mensajeError" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content alert alert-danger">
				<div class="modal-body ">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id=""><strong>Error!</strong></h4>
					<br>
					<p>Debe agregar la informaci&oacute;n principal antes de avanzar!</p>
					<button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}

<!-- Bloque de Javascript -->
{% block js %}
<!-- Mapa de google maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script >
var map;
function initialize(){
	/*Inicializacion de variables y toma de argumentos de latitud y longitud*/
	var lat = parseFloat(document.getElementById('lat').value.replace(/,/g,'.') );
	var lng = parseFloat(document.getElementById('lng').value.replace(/,/g,'.') );
	var markers = [];
	var coord = document.getElementById('id_coord');

	/*Inicializacion del mapa*/
	var mapOptions = {
		zoom: 13,
		center: new google.maps.LatLng(lat, lng)
	};

  	map = new google.maps.Map(document.getElementById('map'), mapOptions);

  	/*Funciones para agregar el marcador y eliminar el anterior*/
  	google.maps.event.addListener(map, 'click', function(event){
  		clearMarkers();
  		markers = [];
    	placeMarker(event.latLng);
    	coord.value = event.latLng.k + ', ' + event.latLng.B;
	});

	function clearMarkers() {
		setAllMap(null);
	}

	function setAllMap(map) {
		for (var i = 0; i < markers.length; i++) {
			markers[i].setMap(map);
		}
	}

	function placeMarker(location) {
	    var marker = new google.maps.Marker({
	        position: location, 
	        map: map
	    });
    	markers.push(marker);
	}
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- Codigo de iCheck -->
<script>
$(document).ready(function(){
  $('.input').each(function(){
    var self = $(this),
      label = self.next(),
      label_text = label.text();

    label.remove();
    self.iCheck({
      checkboxClass: 'icheckbox_line-green',
      insert: '<div class="icheck_line-icon"></div>' + label_text
    });
  });
});
</script>
{% endblock js %}